{% extends 'base.html.twig' %}

{% block title %}Création de service{% endblock %}

{% block body %}
    <h1>Créer un nouveau Service</h1>

    {{ include('admin/service/_form.html.twig') }}

    <a href="{{ path('service_index') }}">Revenir à la liste</a>
{% endblock %}
